@model DBMVCFinal.Models.Card

@{
    ViewBag.Title = "CardCreate";
}

<h2>CardCreate</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Card</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.cId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @Value = ViewBag.Count } })
            @Html.ValidationMessageFor(model => model.cId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Back to List", "CardIndex", null, htmlAttributes: new { @style = "background-color: #91B0A0; color:white ", @class = "btn btn-default" })
            <input type="submit" value="Create" class="btn btn-default" style="background-color: #5C806C ; color:white"/>
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "CardIndex")
</div>*@

@section topCSS{
    <style>

        body {
            background-color: #CDD5D1;
        }
    </style>
}